<!DOCTYPE html>
<html>
  <head>
    <title>Davant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type='text/javascript'>
     window.logo = "<%= image_url('logo.jpg') %>";
     window.downarrow = "<%= image_url('downarrow.png') %>";
     window.berlin = "<%= image_url('berlin.jpg') %>";
     window.chicago = "<%= image_url('chicago.jpg') %>";
     window.dublin = "<%= image_url('dublin.jpg') %>";
     window.la = "<%= image_url('la.jpg') %>";
     window.london = "<%= image_url('london.jpg') %>";
     window.mexico = "<%= image_url('mexico.jpg') %>";
     window.miami = "<%= image_url('miami.jpg') %>";
     window.nyc = "<%= image_url('nyc.jpg') %>";
     window.sf = "<%= image_url('sf.jpg') %>";
     window.sydney = "<%= image_url('sydney.jpg') %>";
     window.tokyo = "<%= image_url('tokyo.jpg') %>";
     window.vegas = "<%= image_url('vegas.jpg') %>";
     window.home = "<%= image_url('home.jpg') %>";
     window.search = "<%= image_url('search.png') %>";
     window.github = "<%= image_url('github.png') %>";
    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= javascript_include_tag 'application' %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
